<h1>Welcome to the Red Team</h1>
<p>Links to other pages
<p><%= link_to 'Ingredients', ingredients_path %></p>
<p><%= link_to 'Suppliers', suppliers_path %></p>
<p><%= link_to 'Orders', orders_path %></p>
</p>
