<h1><center>Welcome to the Red Team</center></h1>
<p><h3>Links to other pages:</h3>
<p><li><%= link_to 'Ingredients', ingredients_path %></li></p>
<p><li><%= link_to 'Suppliers', suppliers_path %></li></p>
<p><li><%= link_to 'Orders', orders_path %></li></p>
</p>
