<h1 style="border: 2px solid black; outline: thick; padding-bottom: 6px;color:black;">
	<center>Welcome to the Red Team</center>
</h1>
<h2>Links to other pages:</h2>
<p><li><%= link_to 'Ingredients', ingredients_path %></li></p>
<p><li><%= link_to 'Suppliers', suppliers_path %></li></p>
<p><li><%= link_to 'Orders', orders_path %></li></p>
</p>
